/*
House Rules RPG (Bootstrap)
Author: Zach Allen

~ Index ~
- Basic Page Styles
- Navigation
- Utilities
- Media Queries
*/


/*===|==|--- Basic Page Styles ---|==|===*/

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 6rem;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: white !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

h4 {
  margin-top: 16px;
}

p {
  text-align: justify;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #777;
}
footer a:hover {
  color: black;
}

article {
  position: relative;
}

section h4 {
  margin: 6px 0;
}

.img-responsive {
  margin: 0 auto;
}

/*===|==|--- Navigation ---|==|===*/

nav.navbar {
  border-radius: 0;
}

header.jumbotron {
  height: 200px;
  background-image: url("../assets/banner_hatching.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#home {
  background-color: #5BC0BE;
}

.btn{
  white-space:normal !important;
  word-wrap:break-word;
}

.tab-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid #ddd;
}

.tab-links {
  display: inline-block;
  padding: 0.5em 1em;
}

.tab-links:focus, .tab-links:hover {
  text-decoration: none;
  background-color: #e5e5e5;
}

.tab-links.disabled {
  color: #636c72;
  cursor: not-allowed;
}

.tab-list .tab-links {
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.tab-list .tab-links:focus, .tab-list .tab-links:hover {
  border-color: #eceeef #eceeef #ddd;
}

.tab-list .tab-links.disabled {
  color: #636c72;
  background-color: transparent;
  border-color: transparent;
}

.tab-list .tab-links.active,
.tab-list .tab-item.show .tab-links {
  color: #464a4c;
  background-color: #fff;
  border-color: #ddd #ddd #fff;
}

.tab-list .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}


/*===|==|--- Useful Classes ---|==|===*/

.enter-content:empty:before {
  content: 'Add content here';
  color: grey;
}

.enter-name:empty:before {
  content: 'Add name here';
  color: grey;
}

.enter-title:empty:before {
  content: 'Add title here';
  color: grey;
}

.anchor {
  display: block;
  position: relative;
  top: -42px;
  visibility: hidden;
}

.form-control {
  margin-bottom: 16px;
}

.inline {
  display: inline-block;
  width: 72px;
}

.short-input {
  width: 240px;
}

.center-children *{
  text-align: center;
}

.table.center-children>tbody>tr>td, .table.center-children>tbody>tr>th, .table.center-children>tfoot>tr>td, .table.center-children>tfoot>tr>th, .table.center-children>thead>tr>td, .table.center-children>thead>tr>th {
  vertical-align: middle;
}

.scroll-table {
  overflow-x: scroll !important;
}

.panel-body ol {
  padding-left: 15px;
}

.ability {
  text-align: center;
  padding: 2px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .ability {
    padding: 0.5rem 0.75rem;
  }
}

.perkmod-label {
  margin-top: 0;
}

.perkmod {
  width: 76px;
}

.unlocked {
  margin-bottom: 0;
  color: #a1a1a1;
}

.donate {
  color: #337ab7;
}

.donate:hover {
  color: #23527c;
}

.text-left {
  text-align: left !important;
}

.equal
{
  display: block
}
.equal > div.enemy
{
  width: 100%;
}
.equal > div.enemy > div.panel {
  width:100%;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .equal
  {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .equal > div.enemy
  {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width:33%;
  }
  .equal > div.enemy > div.panel {
    width:100%;
  }
}

.enemy-perk-container{
  margin-bottom: 15px;
}

.area .panel-heading h4 {
  margin: 6px 0;
}

/*===|==|--- ID Specific Styles ---|==|===*/

#backToTop {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  border-radius: 0;
  background-color: white;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#mainContainer {
  margin-bottom: 64px;
}

#headingOne,
#headingTwo,
#headingThree,
#headingFour,
#headingFive {
  padding: 0;
}

#name {
  margin-top: 20px;
}

#loadCharTable * {
  vertical-align: middle;
}

#loadCharTable th:last-of-type,
#loadCharTable td:last-of-type {
  text-align: right;
}

#spmov-table th:first-of-type,
#spmov-table td:first-of-type {
  padding-right: 0;
  width: 52px;
}

#lvlTable1 {
  padding-right: 15px;
}
#lvlTable1 table {
  margin-bottom: 0;
}
#lvlTable2 {
  padding-left: 15px;
}
#lvlTable2 thead {
  display: none;
}
#lvlTable1 td:first-of-type,
#lvlTable2 td:first-of-type {
  width: 68px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #lvlTable1 {
    padding-right: 0;
  }
  #lvlTable1 table {
    margin-bottom: 20px;
  }
  #lvlTable2 {
    padding-left: 0;
  }
  #lvlTable2 thead {
    display: table-header-group;
  }
}

#enemyAbilities {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 375px) {
  #enemyAbilities {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#titleLabel {
  margin-top: 0;
}

#includeChart {
  margin-top: 16px;
  float: right;
  width: 164px;
}

#hp, #lvl {
  margin: 0;
}

#wpn1type, #wpn2type, #armorType {
  width: 150px;
}

#edit {
  display: none;
}

#addEnemyBtn:disabled {
  background-color: #5cb85c !important;
}

#updateHP:disabled {
  background-color: #337ab7 !important;
}


/*===|==|--- DiceSim ---|==|===*/

#rng {
  position: absolute;
  top: 52px; right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  z-index: 999;
}

#rng-container {
  position: absolute;
  top: 83px; right: 0;
  width: 260px;
  z-index: 999;
}

#rng-panel {
  padding: 15px;
  background-color: white;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.rng-label {
  margin: 0;
  margin-bottom: 15px;
  display: inline-block;
}

#rng-panel h5 {
  margin: 0;
  display: inline-block;
}

#rng-panel input[type="number"],
#rng-panel select {
  display: inline-block;
}

#roll-amt,
#roll-sides {
  margin-bottom: 0 !important;
}

#rng-panel input[type="number"] {
  padding-right: 6px;
  text-align: right;
  width: 56px;
}

#rng-panel select {
  padding: 6px;
  width:64px;
}

#rng-panel p {
  font-size: 1.25em;
}

#roll-result {
  margin: 12px 0;
}


/*===|==|--- Print Classes ---|==|===*/

.n-mb {
  margin-bottom: 0;
}

.show-print {
  display: none;
}

@media print {
  .no-print, .edit {
    display: none;
  }
  .show-print, .view {
    display: block;
  }
  .col-print-4 {
    padding-right: 15px;
    padding-left: 15px;
    width: 33.33333333%;
  }
  .col-print-8 {
    padding-right: 15px;
    padding-left: 15px;
    width: 66.66777777%;
  }
  /*
  h3, h4 {
    margin-bottom: 1em;
  }
  .fullwide {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
  .panel-heading {
    padding-bottom: 0;
    border-bottom: none;
  }
  .panel-body {
    border-top: none;
  }
  */
  .pba {
    page-break-after: always;
  }
  section, .pbi {
    page-break-inside: avoid;
  }

  [class*="col-sm"] {
    float: left;
  }
  [class*="col-sm-6"],
  [class*="col-sm-8"] {
    width: 50%;
  }
}

/* ---------- Media Queries ---------- */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
