/*
House Rules RPG (Bootstrap)
Author: Zach Allen

Colors:
AndroidGreen #9ebc3c
DeepSaffron  #f29a3c
Fandango     #b52b77
CeruleanBlue #3c50c1

~ Index ~
- Basic Page Styles
- Utilities
- Media Queries
*/
/* ---------- Basic Page Styles ---------- */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 6rem;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

nav.navbar-default {
  background-color: white;
  color: #777;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: white !important;
}

h4 {
  margin-top: 16px;
}

p {
  text-align: justify;
}

label {
  margin-top: 16px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  label {
    margin-top: 0;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #777;
}
footer a:hover {
  color: black;
}

/* Useful Classes */
.enter-content:empty:before {
  content: 'Add content here';
  color: grey;
}

.enter-name:empty:before {
  content: 'Add name here';
  color: grey;
}

.enter-title:empty:before {
  content: 'Add title here';
  color: grey;
}

.form-control {
  margin-bottom: 16px;
}

.inline {
  display: inline-block;
  width: 72px;
}

.short-input {
  width: 240px;
}

.center-children *{
  text-align: center;
}

.scroll-table {
  overflow-x: scroll;
}

.tab-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid #ddd;
}

.tab-links {
  display: inline-block;
  padding: 0.5em 1em;
}

.tab-links:focus, .tab-links:hover {
  text-decoration: none;
  background-color: #e5e5e5;
}

.tab-links.disabled {
  color: #636c72;
  cursor: not-allowed;
}

.tab-list .tab-links {
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.tab-list .tab-links:focus, .tab-list .tab-links:hover {
  border-color: #eceeef #eceeef #ddd;
}

.tab-list .tab-links.disabled {
  color: #636c72;
  background-color: transparent;
  border-color: transparent;
}

.tab-list .tab-links.active,
.tab-list .tab-item.show .tab-links {
  color: #464a4c;
  background-color: #fff;
  border-color: #ddd #ddd #fff;
}

.tab-list .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.ability {
  text-align: center;
  padding: 2px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .ability {
    padding: 0.5rem 0.75rem;
  }
}

/* ID specific styles */
#name {
  margin-top: 20px;
}

#loadCharTable * {
  vertical-align: middle;
}

#loadCharTable th:last-of-type,
#loadCharTable td:last-of-type {
  text-align: right;
}

#spmov-table th:first-of-type,
#spmov-table td:first-of-type {
  padding-right: 0;
  width: 52px;
}

#setting-list *, #npc-list *{
  vertical-align: middle;
}

#titleLabel {
  margin-top: 0;
}

#includeChart {
  margin-top: 16px;
  float: right;
  width: 164px;
}

#hp, #lvl {
  margin: 0;
}

#rng {
  position: absolute;
  top: 52px; right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
}

#rng-container {
  position: fixed;
  top: 83px; right: 0;
  width: 200px;
  z-index: 999;
}

#rng-panel {
  padding: 15px;
  background-color: white;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#rng-panel input,
#rng-panel p {
  margin-bottom: 0;
}

#rng-panel p {
  font-size: 1.25em;
}

#roll-result {
  margin: 10px 0;
}

#wpn1type, #wpn2type, #armorType {
  width: 150px;
}

#edit {
  display: none;
}

/* ---------- Utilities ---------- */
.n-mb {
  margin-bottom: 0;
}

.show-print {
  display: none;
}

@media print {
  .no-print {
    display: none;
  }
  .show-print {
    display: block;
  }
  .pba {
    page-break-after: always;
  }
  section {
    page-break-inside: avoid;
  }
  [class*="col-sm"] {
    float: left;
  }
  [class*="col-sm-6"],
  [class*="col-sm-8"] {
    width: 50%;
  }
}

/* ---------- Media Queries ---------- */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
